@import "./base";
@import "./components";
@import "./layout";


@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$font-body:"Roboto", Arial;
$font-display:"Comic-sans", sans-serif;

$color-primary: #072d51;
$color-secondary: #07d4f3;
$color-white:  white;
$color-beige: rgb(245,245,220);

*{
    margin: 0;
    padding: 35px;
    box-sizing: border-box;
    font-family: $font-body;
    color: $color-primary;
}

a:link,
a:visited {
    text-decoration: none;
}

.navtop{
    height: 10vh;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
}

.button1{
    width: 100px;
    border: 1px solid $color-primary;
    background-color: white;
    text-align: center;
    padding: 12px 0px;
    border-radius: 5px;
}

.button2{
    display: block;
    width: 170px;
    background-color: $color-primary;
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px;
    color: $color-white;
}

header{
    text-align: center;

    h1, h3{
        color: $color-secondary;
    }

    h1{
        font-size: 30px;
        font-family: $font-display;
    }

    h2, h5{
        font-size: 25px;
    }

    h3{
        font-size: 20px;
    }

    a {
        margin: 0 auto;
    }
}

.flex-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: space-between;
    align-items: center;

    .detail1{
        display: flex;
        align-items: center;
    }

    a{
        margin: 0 auto;
    }
}

.navbottom {
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-beige;
}

@media screen and (min-width: 991px) {
    body{
        width: 500px;
    }
}